.rightContent{position: relative;width:100%;
  .choose-school{ width: 200px;height: 100%;overflow: auto;border-right:2px solid #999;position: absolute;top:0;left:0;padding: 20px 0;background: #F8F8F8;
    .el-tree{background: #F8F8F8;}
  }
  .container{position: relative;margin-left: 200px;
    .content{padding: 0 30px;
      .el-pagination{
        padding: 30px 15px;text-align: right;}
    }
  }
}
.rightContent.hiddenChoose{
  .container{margin-left: 0px;}
  .choose-school{width: 0px;border:none;}
}
